<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="14.12.0" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.12.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>